*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 99%;
    margin-left: 3px ;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("../img/demo.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
.form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgba(24, 19, 19, 0.5);
    border-radius:10px;
    padding: 60px;
    width:  min-content ;

}
.logo{
    display: flex;
    margin-top: 15px;
    height: 3rem;
    justify-content: space-between;

}
.logoTitle{
    text-decoration: none;
    
}
a{
    text-decoration: none;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    padding-top: 15px;
    height: 20px;

    
}
#btn{
    padding-top:15px;
}

#btn #btn2  img{
    width: 200px;
    margin-top: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    background-color: rgba(24, 19, 19, 0.5);
    padding: 5px;
    border: 0;
    outline: 0 solid transparent;
    transition: .2s ease;
    color: white;

}

input:focus{
    outline: 1px solid red;

}


#btn2{
    background-color: rgba(24, 19, 19, 0.0);
   border: none;
    cursor:pointer;
}