*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 97.9%;
    /* border: solid white; */
    /* position: fixed; */
}

.logo{
    display: flex;
    justify-content: center;
    width: 10%;
    /* background-color: rgb(0, 0, 0); */
}

.logo{
    height: 80px;
    width: 80px;
}


.dados{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    width:65%;
}
.preto{
    width: 30vh;
}
.texto2 li{
padding: 5px;

}
.dados button{
    border: none;
    background: transparent;
    color: red;
    cursor: pointer;
}
.dados a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.fotos{
    background: linear-gradient(rgb(60,1,60),darkred);
    /* background-color: rgb(60,1,60); */
    display: flex;
    justify-content:left;

}
.fotos img{
    width: 40%;
}
.fotos .texto{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap:5%;
    height: 72vh;
    
}
.div{
    display: flex;
    justify-content: space-between;  
    background: linear-gradient(black,rgb(60,1,60));
}
.div .texto2{
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
li{
    margin-top: 10px;
    list-style: none;
    
}
.div img{
    width: 100%;
    border-radius: 5vh;
}
.texto2 li{
    padding-top: 5px;
    color:rgb(197, 186, 186);
}
.texto2 ul{
    color: white;
}
.texto li{
    /* font-size: 30px; */
    /* padding-bottom: 10px; */
    /* margin-left: 10px; */
    color: rgb(197, 186, 186);
    /* text-align: center; */
}
.texto h2{
    color: rgb(197, 186, 186);
}
.hashiras{
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 190, 190);

}
.hashiras img{
    width: 100%;
    background-size: cover;

}
.apresentacao1 h2{
    color: white;
    border: solid black;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,darkred,darkblue);
    padding: 10px;
    
}
.apresentacao{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(200, 164, 164);
    flex-direction: column;
}
.apresentacao h2{
    padding-bottom: 15px;
}
.imghashira{
    display: flex;
    justify-content: space-around;
    background-color: rgb(200, 164, 164);
    flex-direction: column;
    

}
.imghashira img{
    width: 10%;
    background: linear-gradient(rgb(200,164,164),rgb(255, 148, 148));
    
    
}
.geral{
    margin: 0px;
    text-align: center;
}
.imghashira .card{
    display: flex;
    justify-content: left;
    
}
.imghashira .pilar{
    border:solid pink;
}
.luas{
    color: white;
    text-align: center;
    background: linear-gradient(to top,rgb(255, 0, 0),black);

}
.luas h2{
    padding: 5px;
}
.respiracao{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border: solid white;
}
.poder{
    padding: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
.poder img{
    width: 350px;
}
.imgluas{
    background-color: black;
}
.imgluas img{
    width: 100%;
    /* border: solid rgb(0, 0, 0); */
}
.apresentacaolua{
    color: white;
    text-align: center;
    background-color: black;
}
.apresentacaolua1{
    color: white;
    text-align: center;
   background: linear-gradient(rgb(0, 0, 0),darkred);
   padding: 15px;
}
.super{
    color: white;
    display: flex;
    background-color:rgb(100, 1, 1);
    border: solid black;
    font-size: 20px;
    
}
.super span{
    padding: 15px;
}
.super img{
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-start;
    width: 40vh;
    background: linear-gradient(to top,darkred,black);

}
span{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.arma{
    border: solid black;
    background: linear-gradient(to bottom,rgb(60,1,60),darkred);
    color: rgb(255, 255, 255);
}
.espada{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
    
}


.espada img{
    width: 30%;
    border-radius: 5vh;
}
.armas{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.armas .marca{
    padding: 25px;
    background: linear-gradient(to top,rgb(60,1,60),darkred);
    color: rgb(197, 186, 186);
    
}
.armas .espada1{
    padding: 25px;
    background: linear-gradient(to top,rgb(60,1,60),darkred);
    color: rgb(197, 186, 186);
    /* text-align: center; */
    

}

.spoiler{
    background-color:black;
    color: white;
    /* backdrop-filter:blur (250px); */
}
.yorichi img{
    width: 100%;
    
}
.yorichi{
    text-align: center;
    background-color: black;
    color: white;
    /* backdrop-filter: blur(10px); */

}
.pilar{
    padding: 25px;
}
.final{
    padding-top: 25px;
    color: white;
    background-color: darkred;
    text-align: center;
    font-size: 25px;
}









